* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ebf0f5;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 6vh;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.7;
  color: #000;
  transition: opacity 0.2s;
}

a:hover {
  transition: opacity 0.2s;
  opacity: 1;
}

hr {
  margin: 5px auto;
  border: 0;
  height: 2px;
  width: 90%;
  background-image: linear-gradient(to right, rgba(21, 42, 71, 0), rgba(21, 42, 71, 0.75), rgba(21, 42, 71, 0));
}
